
<script>
$(document).ready(function() {
$('#product_super_category_id').change(function() {
  $.ajax({
    url: "<%= refresh_sub_categories_path %>",
    data: {
      parent_id : $('#product_super_category_id').val()
    },
    dataType: "script"
  });
});

});
</script>

<form class="form-search" action="<%=maintain_products_path%>" method="get" >
  <div class="input-append">
    <select name="product[super_category_id]" id="product_super_category_id" class="span1">
      <%= options_for_select(@array_super, @product.super_category_id) %>
    </select>
    <select name="product[category_id]" id="product_category_id" class="span1">
      <%= options_for_select(@array_sub, @product.category_id) %>
    </select>
    <input type="text" name="product[name]" id="product_name" class="span2" placeholder="<%=t(:product_name)%>" value="<%=@product.name%>">
    <button type="submit" class="btn" ><%=t(:search)%></button>
  </div>
</form>


<!--
  <div class="input-append">
    <%= simple_form_for @product, :url => maintain_products_path, :method => :get, :html => {:class => 'form-search form-inline' } do |f| %>
      <%= f.input :super_category_id, :label => t(:super_category), collection: @super_categories, :prompt => t(:choose_super_category) %>
    
      <%= f.input :category_id, :label => t(:category), collection: @categories, :prompt => t(:choose_category) %>
      
      <%= f.submit t(:search) %>
      
    <%end%>
  
 
  </div>-->
