<script>
$(document).ready(function() {
$('#product_super_category_id').change(function() {
  $.ajax({
    url: "<%= refresh_sub_categories_path %>",
    data: {
      parent_id : $('#product_super_category_id').val()
    },
    dataType: "script"
  });
});

});
</script>

<%= simple_form_for [:maintain,@product], :html => {:class => 'form-horizontal' } do |f| %>
  <%= f.error_notification %>
  <%= display_base_errors @product %>
  <%= f.input :super_category_id, :label => t(:super_category), collection: @super_categories, :prompt => t(:super_category) %>
  
  <%= f.input :category_id, :label => t(:category), collection: @categories, :prompt => t(:category) %>
  
  <%= f.input :name, :label => t(:product_name), :required => true, :autofocus => true %> 
  <%= f.input :description, :label => t(:description) %>
  <%= f.input :measurement, :label => t(:measurement), :required => true %>
  <%= f.input :unit_price, :label => t(:unit_price) + ' /' + t(:currency), :required => true %>
  <div class="control-group">
    <div class="controls">
      <%= f.button :submit, t(:submit), :class => 'btn' %>
      <%= link_to t(:back), :back, :class => 'btn' %>
    </div>
  </div>
<% end %>

