<div class="span8">
<table class="table table-condensed">
	  <thead>
      <tr>
          <th><%= t(:product_name) %></th>
          <th><%= t(:measurement) %></th>
          <th></th>
          <th></th>                                      
      </tr>
  </thead>   
  <tbody>
  <% @products.each do |product| %>
    <tr>
        <td><%= link_to product.name, [:maintain, product]  %></td>
        <td><%= product.measurement %></td>
        <td>
        </td>
        <td><%= link_to(t(:delete), maintain_product_path(product), :data => { :confirm => t(:are_you_sure_to_delete) }, :method => :delete, :class => 'btn btn-mini')  %></td>                                       
    </tr>
  <% end %>
  <tr>
    <td colspan="5">
      <%= link_to t(:create), new_maintain_product_path, :class => 'btn' %>
	  <%= link_to t(:back), maintain_dashboard_path, :class => 'btn'%>
    </td>
  </tr>
  </tbody>
</table>
</div> 