<div class="span8">
  <%= render 'category' %>
  <% if @products.count > 0 %>
  <table class="table table-condensed">
    <thead>
      <tr>
        <th><%= t(:product_name) %></th>
        <th><%= t(:unit_price) %></th>
        <th></th>   
      </tr>
    </thead>   
    <tbody>
    <% @products.each do |product| %>
	  <%= render product %>
    <% end %>
    </tbody>
	<tr>
	  <td colspan="3">
			 <%= will_paginate @products %>
	  </td>
	</tr>
	<tr>
	  <td colspan="3">
			 <%= link_to t(:add), new_maintain_product_path, :class => 'btn' %>
			 <%= link_to t(:import_excel), new_maintain_product_import_path, :class => 'btn' %>
			 <%= link_to t(:back), maintain_dashboard_path, :class => 'btn' %>
	  </td>
	</tr>
  </table>
  <%end%>
</div> 