<div class="span8">
  <div class="left">
    <%=render 'categories/list_with_dropdown', :current_category_id => @category_id, :path => maintain_products_path %>
  </div>
  <div class="right"> 
    <form class="form-search right" method='get' action=''  id="search_and_filter">    
      <input type="hidden" name="category_id" value="<%=params[:category_id]%>" />
      <!-- <input type='text' name='key_words' placeholder = "Search by Keyword"  class="input-medium search-query" style="margin-right:-40px;" value="<%= params[:key_words] %>">
      <button type="submit" style="background:transparent;border: none;"><i class="icon-search"></i></button> -->   
    </form>
  </div>
  <% if @products.count > 0 %>
  <table class="table table-condensed">  
    <tbody>
    <% @products.each do |product| %>
    <tr>
      <td><%= link_to product.name, [:maintain, product], :class => 'badge badge-warning' %><%= product.price %>
      </td>
               
    </tr>
    <% end %>
    </tbody>
  <tr>
    <td colspan="3">
       <%= will_paginate @products %>
    </td>
  </tr>
  </table>
  <%end%>
</div> 