<%if @stocks.count > 0 %>
<table class="table table-condensed">
	  <thead>
      <tr>
          <th><%= t(:store) %></th>
          <th><%= t(:stock) %></th>
          <th></th>                                      
      </tr>
  </thead>   
  <tbody>
  <% @stocks.each do |stock| %>
    <tr>
        <td><%= stock.store.name %></td>
        <td><%= stock.quantity %> <%= stock.product.measurement %></td>
        <td><%= link_to t(:show), [:maintain,stock], :class => 'btn' %>
        </td>                                    
    </tr>
  <% end %>
  </tbody>
</table>
<%end %>
