<div class="span8">

<%=form_tag stocker_stocks_path, :method => 'get', :class => "form-inline" do%>
	<%= select_tag :store_id, options_from_collection_for_select(@stores, "id", "name", @stock.store_id), :prompt => t(:choose_a_store) %>
	<%= text_field_tag :product_name, @stock.product_name, :placeholder => t(:product_name), :class => "input-small" %>
  <button type="submit" class="btn"><%=t(:search)%></button>
<%end%>

<table class="table table-condensed">
	  <thead>
      <tr>
          <th><%= t(:store) %></th>
          <th><%= t(:product) %></th>
          <th><%= t(:stock) %> </th>                                   
      </tr>
  </thead>   
  <tbody>
  <% @stocks.each do |stock| %>
    <tr>
        <td><%= stock.store.name %></td>
        <td><%= link_to stock.product.name, [:stocker,stock], :class => 'badge badge-info'  %></td>
        <td><%= stock.quantity %>  </td>                         
    </tr>
  <% end %>
  <tr>
    <td colspan="3">
      <%= will_paginate @stocks %>
    </td>
  </tr>
  <tr>
    <td colspan="5">
	  <%= link_to t(:back), root_path, :class => 'btn'%>
    </td>
  </tr>
  </tbody>
</table>
</div> 