<!--h3><%= t(:account_info) %></h3-->
<p><%= t(:product_name) %>: <%= @stock.product.name %></p>
<p><%= @stock.store.name %>: <%= @stock.quantity %> <%=@stock.product.measurement.name%> [<%=@stock.price%>]</p>
<p><%= t(:safe_stock) %>: <%= @stock.safe_stock %> <%=@stock.product.measurement.name%></p>
<p><%= t(:remark) %>: <%= @stock.remark %></p>
<p><%= link_to t(:edit), edit_stocker_stock_path(@stock), :class => 'btn'%>
<%= link_to t(:back), stocker_stocks_path, :class => 'btn'%>
</p>


  <%= render 'histories' %>