
  <p>
    <%= link_to t(:stores_maintain), maintain_stores_path, :class => 'btn btn-primary ' %>
    <%= link_to t(:stocks_maintain), maintain_stocks_path, :class => 'btn btn-primary' %>
  </p>
  <p>
    <%= link_to t(:categories_maintain), maintain_categories_path, :class => 'btn btn-primary' %>
    <%= link_to t(:products_maintain), maintain_products_path, :class => 'btn btn-primary' %>
  </p>
  <p>
    <%= link_to t(:orders_maintain), '#', :class => 'btn btn-primary' %>
    <%= link_to t(:transfers_maintain), '#', :class => 'btn btn-primary' %>
  </p>
  <p>
    <%= link_to t(:sales_maintain), '#', :class => 'btn btn-primary' %>
    <%= link_to t(:discounts_maintain), '#', :class => 'btn btn-primary' %>
  </p>
  <p>
    <%= link_to t(:users_maintain), maintain_users_path, :class => 'btn btn-primary' %>
    <%= link_to t(:members_maintain), '#', :class => 'btn btn-primary' %>
  </p>
  <p>
    <%= link_to t(:switches_maintain), '#', :class => 'btn btn-primary' %>
    <%= link_to t(:lookups_maintain), maintain_lookups_path, :class => 'btn btn-primary' %>
  </p>
  <p>
    <%= link_to t(:events_maintain), '#', :class => 'btn btn-primary' %>
  </p>