
  <p>
    <%= link_to t(:users_maintain), users_path, :class => 'btn btn-primary btn-large' %>
    <%= link_to t(:lookup_config), maintain_lookups_path, :class => 'btn btn-primary btn-large' %>
  </p>
  <p>
    <%= link_to t(:products_maintain), maintain_products_path, :class => 'btn btn-primary btn-large' %>
    <%= link_to t(:stores_maintain), maintain_stores_path, :class => 'btn btn-primary btn-large' %>
  </p>
  <p>
    <%= link_to t(:sales_maintain), '#', :class => 'btn btn-primary btn-large' %>
    <%= link_to t(:members_maintain), '#', :class => 'btn btn-primary btn-large' %>
  </p>