
  <p>
    <%= link_to t(:stores_maintain), maintain_stores_path, :class => 'btn btn-primary ' %>
    <%= link_to t(:handovers_maintain), maintain_handovers_path, :class => 'btn btn-primary' %>
  </p>
  <p>
    <%= link_to t(:sales_maintain), maintain_sales_path, :class => 'btn btn-primary' %>
    <%= link_to t(:expenses_maintain), maintain_expenses_path, :class => 'btn btn-primary' %>
  </p>
  <p>
    <%= link_to t(:orders_maintain), maintain_orders_path, :class => 'btn btn-primary' %>
    <%= link_to t(:transfers_maintain), maintain_transfers_path, :class => 'btn btn-primary' %>
  </p>
  <p>
    <%= link_to t(:categories_maintain), maintain_categories_path, :class => 'btn btn-info' %>
    <%= link_to t(:discounts_maintain), maintain_discounts_path, :class => 'btn btn-info' %>
  </p>
  <p>
    <%= link_to t(:stocks_maintain), maintain_stocks_path, :class => 'btn btn-info' %>
    <%= link_to t(:all_settings), maintain_settings_path, :class => 'btn btn-info' %>
  </p>
  <p>
    <%= link_to t(:users_maintain), maintain_users_path, :class => 'btn btn-info' %>
    <%= link_to t(:members_maintain), maintain_members_path, :class => 'btn btn-info' %>
  </p>