<h2>注册</h2>
<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => 'form-vertical' }) do |f| %>
  <%= f.error_notification %>
  <%= display_base_errors resource %>
  <%= f.input :name, :label => "名称", :autofocus => true %> 
  <%= f.input :email, :label => "用邮箱登入", :required => true %>
  <%= f.input :password, :label => "密码", :required => true %>
  <%= f.input :password_confirmation, :label => "再输入一次密码", :required => true %>
  <%= f.button :submit, '注册', :class => 'btn-primary' %>
<% end %>
<%= render "devise/shared/links" %>