<script>
$(document).ready(function() {
$('#product_super_category_id').change(function() {
  $.ajax({
    url: "<%= refresh_sub_categories_path %>",
    data: {
      parent_id : $('#product_super_category_id').val()
    },
    dataType: "script"
  });
});

});
</script>

<form class="form-search" action="<%=stocker_order_order_details_path(@order)%>" method="get" >
  <div class="input-append">
    <select name="product[super_category_id]" id="product_super_category_id" class="span1">
      <%= options_for_select(@array_super, @product.super_category_id) %>
    </select>
    <select name="product[category_id]" id="product_category_id" class="span1">
      <%= options_for_select(@array_sub, @product.category_id) %>
    </select>
    <input type="text" name="product[name]" id="product_name" class="span2" placeholder="<%=t(:product_name)%>" value="<%=@product.name%>">
    <button type="submit" class="btn" ><%=t(:search)%></button>
  </div>
</form>
