<div>
  <div class="left" style="width:200px;">
    <%= link_to product.name, [:stocker, @order, product], :class => 'badge badge-warning' %>
    <%= product.price(@order.store_id) %>
  </div>
  <div>
    <%= form_for @order_detail , :url => stocker_order_order_details_path(@order), :method => :post, :html => {:class => 'form-horizontal' } do |f| %>
      <%= f.hidden_field :product_id, :value => product.id %>
      <div class="input-append">
        <%= f.text_field :quantity , :autofocus => true, :class => 'inline-input'  %>
        <button type="submit" class="btn"><%=t(:add_to_order)%></button>
      </div>
    <% end %>
  </div>
</div>
<div class="clear"></div>