<%= simple_form_for [:stocker,@order,@order_detail], :html => {:class => 'form-horizontal' } do |f| %>
  <%= f.error_notification %>
  <%= display_base_errors @order_detail %>
	
	<%= f.simple_fields_for :product do |product_form| %>
	
		<%= product_form.input :name, :label => t(:product_name), :autofocus => true %> 
		<%= product_form.input :category, :label => t(:category)  %>
		<%= product_form.input :category_id, :as => :hidden %>
		<%= product_form.input :description, :label => t(:description), :required => true %>
		<%= product_form.input :measurement, :label => t(:measurement), :required => true %>
		<%= product_form.input :unit_price, :label => t(:unit_price) + ' /' + t(:currency), :required => true %>
	<% end%>
	<%= f.input :quantity, :label => t(:quantity) %>
	<%= f.input :remark, :label => t(:remark) %>
  <div class="control-group">
    <div class="controls">
      <%= f.button :submit, t(:submit), :class => 'btn' %>
      <%= link_to t(:back), :back, :class => 'btn' %>
    </div>
  </div>
<% end %>
