<div class="span8">
  <%= render :partial => '/products/search_filters', :locals =>{:url => new_stocker_order_order_detail_path(@order) } %>
  <% if @products.count > 0 %>
  <table class="table table-condensed">
    <thead>
      <tr>
        <th><%= t(:product_name) %></th>
        <th><%= t(:unit_price) %></th>
        <th></th>   
      </tr>
    </thead>   
    <tbody>
    <% @products.each do |product| %>
	  <%= render 'product', :product => product %>
    <% end %>
    </tbody>
	<tr>
	  <td colspan="3">
			 <%= will_paginate @products %>
	  </td>
	</tr>
	<tr>
	  <td colspan="3">
			 <%= link_to t(:view_order), stocker_order_path(@order), :class => 'btn' %>
	  </td>
	</tr>
  </table>
  <%end%>
</div> 