<%if @stocks.count > 0 
  sum = 0
  %>
<table class="table table-condensed">
  <% @stocks.each do |stock| 
    sum += stock.quantity%>
    <tr>
        <td>
          <%= link_to stock.store.name, [:maintain, stock.store], :class => 'badge badge-warning' %>
          <%= stock.quantity %> <%= stock.product.measurement.name %>
        </td>
        <td><%= link_to t(:show), [:maintain,stock], :class => 'btn' %>
        </td>                                    
    </tr>
  <% end %>
    <tr>
      <td><%=sum %></td>
    </tr>
  </tbody>
</table>
<%end %>
