<div class="span8">
<table class="table table-condensed">
  <thead>
    <tr>
        <th><%= t(:store) %></th>
        <th><%= t(:category) %></th>
        <th><%= t(:amount) %></th>                                  
    </tr>
  </thead>   
  <tbody>
  <% @expenses.each do |e| %>
    <tr>
        <td><%= e.store.name %></td>
        <td><%= l(e.category,"expense_category")  %></td>
        <td><%= e.amount %></td>                                    
    </tr>
  <% end %>
    <tr>
      <td colspan="3">
        <%= will_paginate @expenses %>
      </td>
    </tr>
    <tr>
      <td colspan="3">
              <%= link_to t(:back), maintain_dashboard_path, :class => 'btn'%>
      </td>
    </tr>
  </tbody>
</table>
</div> 