<div class="span8">
	<%=form_for [:stocker,@transfer,@transfer_detail] do |f| %>
	<table class="table table-condensed">
			<thead>
				<tr>
						<th><%= t(:product) %></th>
						<th><%= t(:stock) %></th>
						<th><%= t(:quantity_to_transfer) %></th>                                     
				</tr>
		</thead>   
		<tbody>
			<% @stocks.each do |stock| %>
			<tr>
					<td><%= stock.product.name %></td>
					<td><%= stock.quantity %> <%= stock.product.measurement %></td>  
					<td><%= text_field_tag "product_id[#{stock.product_id}]", 0 %>
						<%= TransferDetail.get_quantity(@transfer.id, stock.product_id) %>
					</td>          
				</tr>
				 
			<% end %>
			<tr><td colspan="3"><%= will_paginate @stocks %></td></tr>
		<tr>
			<td colspan="3">
					<%= link_to t(:view_transfer), [:stocker, @transfer], :class => 'btn btn-primary' %>
					&nbsp;&nbsp;&nbsp;&nbsp;
					<%= f.submit  t(:add), :class => 'btn' unless @stocks.count == 0 %>
			</td>
		</tr>
		</tbody>
	</table>
	<%end%>
</div> 