<p>
	<span class="label label-info"><%=@sale.number%></span>
	<%=l(@sale.status.to_s, 'sale_status') %>
</p>
<p>[<%= @sale.store.name %>] &nbsp; 
  <%=t(:actual_amount)%>:<%= @sale.actual_amount %> <%=t(:currency)%>
</p>
<p>
  <% if @sale.category == 'M' %>
    <%= t(:member) %>: <%= @member.name unless @member.nil? %>
  <%end%>
  <%= @sale.remark %> <%= @sale.created_at.to_s(:date_time) %>
</p>

<%= render 'sale_details' %>
<%= link_to t(:cancel), cancel_maintain_sale_path(@sale), :class => 'btn btn-inverse' if @sale.status == 1 %>
<%= link_to t(:back), maintain_sales_path, :class => 'btn'%>