<p><%= t(:sale_id) %>: <%= '#' + @sale.id.to_s %></p>
<p>[<%= @sale.store.name %>] &nbsp; <%= l(@sale.category,"sale_category") %> 
  <%= @sale.actual_amount %>
</p>
<p>
  <% if @sale.category == 'M' %>
    <%= t(:member) %>: <%= @member.name unless @member.nil? %>
  <%end%>
  <%= @sale.remark %> <%= @sale.created_at.to_s(:date_time) %>
</p>

<%= render 'sale_details' %>
<%= link_to t(:back), maintain_sales_path, :class => 'btn'%>