<div class="span8">
	<%=form_for [@transfer,@transfer_detail] do |f| %>
	<table class="table table-condensed">
			<thead>
				<tr>
						<th><%= t(:product) %></th>
						<th><%= t(:stock) %></th>
						<th><%= t(:quantity_to_transfer) %></th>                                     
				</tr>
		</thead>   
		<tbody>
			<% @stocks.each do |stock| %>
			<tr>
					<td><span class="label label-info"><%= stock.product.name %></span><%= stock.product.measurement.name %></td>
					<td><%= stock.quantity %> </td>  
					<td><%= number_field_tag "product_id[#{stock.product_id}]", nil, :placeholder => "0", :class => "numeric float transfer_detail_input "  %>
						<% current_qty = TransferDetail.get_quantity(@transfer.id, stock.product_id) %>
						<%= current_qty if current_qty > 0 %>
					</td>          
				</tr>
				 
			<% end %>
			<tr><td colspan="3"><%= will_paginate @stocks %></td></tr>
		<tr>
			<td colspan="3">
					<%= link_to t(:view_transfer), @transfer, :class => 'btn btn-primary' %>
					&nbsp;&nbsp;&nbsp;&nbsp;
					<%= f.submit  t(:add), :class => 'btn' unless @stocks.count == 0 %>
			</td>
		</tr>
		</tbody>
	</table>
	<%end%>
</div> 