

<%= form_for @handover do |f| %>
<%=f.hidden_field :store_id %>
<ul class="pricing-table">
  <li class="title"><%= t(:stores_no_one_on_duty) %></li>
  <li class="bullet-item">
  <%@stores.each do |store| %>
    <a href="#" data-store-id="<%=store.id%>" class="button small-8 large-2 js-handover-store" ><%= store.name %> <%=store.balance.to_s + t(:currency) %></a>
  <%end%>
  </li>
</ul>
<% end %>
