<div class="large-12">
  <div class="row collapse large-5">
    <div class="small-4 columns">
      <a href="#" data-reveal-id="myModal" class="tiny button prefix">
        <%= @current_category.nil? ? t(:choose_category) : @current_category.name %>
      </a>
    </div>
    <div class="small-6 columns">
      <input type="text" placeholder="<%=t(:product_name)%>">
    </div>
    <div class="small-2 columns">
      <a href="#" class="button postfix"><%=t(:search)%></a>
    </div>
  </div>

  
  <table width="100%">
    <tbody>
      <% @stocks.each do |stock| %>
  	  <%= render stock %>
      <% end %>
      <tr>
        <td colspan="3">
          <%= will_paginate @stocks, renderer: FoundationPagination::Rails %>
        </td>
      </tr>
    	<tr>
    	  <td colspan="3">
            <%= link_to t(:view_carts), carts_path, :class =>'tiny button' %>
    	  </td>
    	</tr>
    </tbody>
  </table>
</div> 

<!-- Modal -->
<div id="myModal" class="reveal-modal " data-reveal="" style="display: none; opacity: 1; visibility: hidden; ">
  <%= render 'categories/list_in_accordion', :path => stocks_path %>
  <a class="close-reveal-modal">×</a>
</div>
<div id="addModal" class="reveal-modal " data-reveal="" style="display: none; opacity: 1; visibility: hidden; ">
  
</div>
