
<%= simple_form_for @user  , :html => {:class => 'form-horizontal' } do |f| %>
  <%= f.error_notification %>
  <%= display_base_errors @user %>
  <%#=@user.errors.full_messages%>
  <%= f.input :name, :label => t(:name) , :autofocus => true, :require => true %>
  <%= f.input :email, :label => t(:email), :require => true  %>
  <%= f.input :password, :label => t(:new_password), :placeholder => t(:leave_blank_not_change_password)  %>
  <%= f.input :password_confirmation, :label => t(:password_confirmation), :placeholder => t(:leave_blank_not_change_password)%>
  <%= f.input :current_password, :label => t(:current_password), :require => true %> 
  <div class="control-group">
    <div class="controls">
      <%= f.button :submit, t(:submit), :class => 'btn' %>
      <%= link_to t(:back), @user, :class => 'btn' %>
    </div>
  </div>
<% end %>

