
<%= simple_form_for [:maintain,@category], :html => {:class => 'form-horizontal' } do |f| %>
  <%= f.error_notification %>
  <%= display_base_errors @category %>
  <%= f.input :name, :label => t(@category.parent.name) + " ->" , :input_html  => { :value => @category.name }, :autofocus => true %> 
  <%= f.input :description, :label => t(:description), :input_html  => { :value => @category.description }, :required => true %>
  <%= f.input :sequence, :label => t(:sequence), :input_html  => { :value => @category.sequence }, :required => true %>
  <%= f.input :parent_id, :as => :hidden, :input_html => {:value => @category.parent_id} %>
  <div class="control-group">
    <div class="controls">
      <%= f.button :submit, t(:submit), :class => 'btn' %>
      <%= link_to t(:back), :back, :class => 'btn' %>
    </div>
  </div>
<% end %>

