<div class="span8">
<table class="table table-condensed">
	  <thead>
      <tr>
          <th><%= @parent_category.nil? ?  t(:root_category) : @parent_category.name %></th>
          <th></th>
          <th></th>                                   
      </tr>
  </thead>   
  <tbody>
  <% @categories.each do |category| %>
    <tr>
        <td>
          <%= link_to category.name, maintain_categories_path(:parent_id => category.id) if category.has_children%>
          <%= link_to category.name, [:maintain, category] unless category.has_children%>
          
        </td>
        <td></td>
        <td><%= link_to t(:show), maintain_category_path(category), :class => 'btn btn-small'%>
        </td>                                       
    </tr>
  <% end %>
  <tr>
    <td colspan="5">
      <%= link_to t(:create_category), new_maintain_category_path(:parent_id => @parent_category.nil? ? 0 : @parent_category.id), :class => 'btn' %>
			<%= link_to t(:back), maintain_categories_path, :class => 'btn'%>
    </td>
  </tr>
  </tbody>
</table>
</div> 