<!--h3><%= t(:account_info) %></h3-->
<p><%= t(:category) %>: <%= t(@category.parent.name) %> -> <%= @category.name %></p>
<p><%= t(:description) %>: <%= @category.description %></p>
<p><%= t(:sequence) %>: <%= @category.sequence %></p>
<p><%= t(:discount) %>: <%= discounts_list @category.id   %>
  <%= link_to(t(:show), maintain_discounts_path(:category_id => @category.id), :class => 'btn') %>
  <%= link_to t(:create), new_maintain_discount_path(:category_id => @category.nil? ? nil : @category.id), :class => 'btn' %>
</p>
<p><%= t(:created_at) %>: <%= @category.created_at.to_date %></p>
<p>
  <%= link_to t(:edit), edit_maintain_category_path(@category), :class => 'btn'%>
  
  <% if @category.has_children || @category.has_product %>
  <%= link_to(t(:delete), '#',  :class => 'btn disabled')  %>
  <%else%>
  <%= link_to(t(:delete), maintain_category_path(@category), :data => { :confirm => t(:are_you_sure_to_delete) }, :method => :delete, :class => 'btn')  %>
  <%end%>

  <% if @category.has_product %>
  <%= link_to(t(:create_sub_category), '#',  :class => 'btn disabled')  %>
  <%else%>
  <%= link_to(t(:create_sub_category), new_maintain_category_path(:parent_id => @category), :class => 'btn')  %>
  <%end%>

</p>
<p>
  
  <%= link_to(t(:show_products), stocker_products_path(:category_id => @category.id), :class => 'btn')  unless @category.parent_id == 0 %>
  
  <%= link_to(t(:create_product), new_stocker_product_path(:category_id => @category.id), :class => 'btn')  unless @category.parent_id == 0 %>
  
  <%= link_to t(:back), maintain_categories_path(:parent_id => @category.parent_id), :class => 'btn'%>
</p>