
<p><%= link_to t(:my_account), user_path(current_user), :class => 'btn  btn-large' %></p>
  
<table class="table">
  <caption ><%=t(:on_duty_list)%></caption>
<% @stores.each do |store| %>
  <tr class="<%=store.users.first.nil? ? 'warning' : 'success'%>">
    <td ><%= link_to store.name, [:maintain,store] %></td>
    <td ><%= store.balance%> <%=t(:currency)%></td>
    <td><%=store.users.first.nil? ? t(:no_one_on_duty) : store.users.first.name%></td>
  </tr>
<%end%>
</table>

<p><%=t(:last_handovers)%></p>
<% @handovers.each do |h| %>
  <p>
    <%=h.store.name%> 
    <%=h.user.name%> 
    <%=t(:take_over)%><%=h.took_at.to_s(:duty_time)%>
    <%=%><%=h.handed_at.nil? ? '' : t(:hand_over) + h.handed_at.to_s(:duty_time)%> 
  </p>
<%end%>
