
  <p>
    <%= link_to t(:member_search), members_path, :class => 'btn btn-primary btn-large' %>
    <%= link_to t(:all_products), products_path, :class => 'btn btn-primary btn-large' %>
  </p>
  <p>
    <%= link_to t(:stock_in_store), stocks_path, :class => 'btn btn-primary btn-large' %>
    <%= link_to t(:sale_record), sales_path, :class => 'btn btn-primary btn-large' %>
  </p>
  <p>
    <%= link_to t(:my_account), user_path(current_user), :class => 'btn btn-info btn-large' %>
  </p>