
  <p>
    <%= link_to t(:all_product), products_path, :class => 'btn btn-primary' %>
    <%= link_to t(:stock_in_store), stocks_path, :class => 'btn btn-primary' %>
  </p>
  <p>
    <%= link_to t(:member_search), members_path, :class => 'btn btn-primary' %>
    <%= link_to t(:sale_record), sales_path, :class => 'btn btn-primary' %>
  </p>
  <p>
    <%= link_to t(:normal_sale), new_sale_path, :class => 'btn btn-info' %>
    <%= link_to t(:cost_sale), costsale_path, :class => 'btn btn-info' %>
  </p>
  <p>
    <%= link_to t(:my_account), user_path(current_user), :class => 'btn btn-info' %>
  </p>