<%if @expenses.count > 0 %>
<table class="table table-condensed">
  <tbody>
  <% @expenses.each do |expense| %>
    <tr>
        <td><%= link_to expense.number, [:maintain, expense], :class => 'badge badge-warning'  %><%= expense.amount.to_s + t(:currency) %></td>

        <td><%=expense.user.name%></td>
        <td><%= expense.created_at.to_s(:duty_time) %>
        </td>                                    
    </tr>
  <% end %>
  <tr><td><%= link_to '...' + t(:list_all) ,maintain_expenses_path %></td></tr>
  </tbody>
</table>
<%end %>