<%if @sales.count > 0 %>
<table class="table table-condensed">
  <tbody>
  <% @sales.each do |sale| %>
    <tr>
        <td><%= link_to sale.number, [:maintain, sale], :class => 'badge badge-warning'  %><%= sale.actual_amount.to_s + t(:currency) %></td>
        <td><%=sale.user.name%></td>
        <td><%= sale.created_at.to_s(:duty_time) %>
        </td>                                    
    </tr>
  <% end %>
  <tr><td><%= link_to '...' + t(:list_all) ,maintain_sales_path %></td></tr>
  </tbody>
</table>
<%end %>