<%if @stocks.count > 0 %>
<table class="table table-condensed">  
  <tbody>
  <% @stocks.each do |stock| %>
    <tr>
        <td>
          <%= link_to stock.product.name, [:maintain, stock.product], :class => 'badge badge-warning'  %>
          <%= stock.quantity %> <%= stock.product.measurement.name %>
        </td>
        <td><%= link_to t(:show), [:maintain,stock], :class => 'btn' %>
        </td>                                    
    </tr>
  <% end %>
  <tr><td><%= link_to '...' + t(:list_all) ,maintain_stocks_path(:store_id => @store.id) %></td></tr>
  </tbody>
</table>
<%end %>