<div class="span8">
<table class="table table-condensed">
	  <thead>
      <tr>
          <th><%= t(:store_name) %></th>
          <th></th>
          <th></th>                                      
      </tr>
  </thead>   
  <tbody>
  <% @stores.each do |store| %>
    <tr>
        <td><%= link_to store.name, [:maintain, store]  %></td>
        <td>
			<%= link_to t(:stock), maintain_stocks_path(:store_id => store), :class => 'btn' %>
        </td>
        <td><%= link_to t(:sale), '#', :class => 'btn' %></td>                                       
    </tr>
  <% end %>
  <tr>
    <td colspan="5">
      <%= link_to t(:create), new_maintain_store_path, :class => 'btn' %>
	  <%= link_to t(:back), maintain_dashboard_path, :class => 'btn'%>
    </td>
  </tr>
  </tbody>
</table>
</div> 