<div class="span8">
<table class="table table-condensed">
	  <thead>
      <tr>
          <th><%= t(:name) %> </th>
          <th><%= t(:balance) %></th>
          <th><%= t(:on_duty) %></th>
          <th><%= t(:remark) %></th>
      </tr>
  </thead>   
  <tbody>
  <% @stores.each do |store| %>
    <tr>
        <td><%= link_to store.name, [:maintain, store]  %></td>
        <td><%= store.balance %> <%=t(:currency)%></td> 
        <td><%=store.users.first.nil? ? t(:no_one_on_duty) : store.users.first.name%></td>
        <td><%= store.remark %></td> 
    </tr>
  <% end %>
  <tr>
    <td colspan="3">
      <%= will_paginate @stores %>
    </td>
  </tr>
  <tr>
    <td colspan="5">
	  <%= link_to t(:new), new_maintain_store_path, :class => 'btn'%>
	  <%= link_to t(:back), maintain_dashboard_path, :class => 'btn'%>
    </td>
  </tr>
  </tbody>
</table>
</div> 