<!--h3><%= t(:account_info) %></h3-->
<p><%= t(:store_name) %>: <%= @store.name %></p>
<p><%= t(:store_category) %>: <%= @store.category %></p>
<p><%= t(:remark) %>: <%= @store.remark %></p>
<p><%= t(:created_at) %>: <%= @store.created_at.to_date %></p>
<%= link_to t(:edit), edit_maintain_store_path(@store), :class => 'btn'%>
<%= link_to t(:back), maintain_stores_path, :class => 'btn'%>