<%= simple_form_for [:stocker,@order], :html => {:class => 'form-horizontal' } do |f| %>
  <%= f.error_notification %>
  <%= display_base_errors @order %>
  <%= f.input :store_id, :label => t(:store), :collection => @stores, :prompt => t(:choose_store), :required => true, :autofocus => true %>
  
  <%= f.input :remark, :label => t(:remark) %>
  <div class="control-group">
    <div class="controls">
      <%= f.button :submit, t(:submit), :class => 'btn' %>
      <%= link_to t(:back), :back, :class => 'btn' %>
    </div>
  </div>
  
<% end %>

