<div class="span8">
<table class="table table-condensed">
	  <thead>
      <tr>
          <th><%= t(:id) %></th>
          <th><%= t(:store) %></th> 
          <th><%= t(:status) %></th>    
          <th><%= t(:created_at) %></th>                      
      </tr>
  </thead>   
  <tbody>
  <% @orders.each do |order| %>
    <tr>
        <td><%= link_to '#' + order.id.to_s, [:stocker, order], :class => 'btn' %></td>
        <td><%=  order.store.name %></td>     
        <td><%= l(order.status, 'order_status') %></td>           
        <td><%= order.created_at.to_date %></td>                      
    </tr>
  <% end %>
  <tr>
    <td colspan="4">
      <%= will_paginate @orders %>
    </td>
  </tr>
  <tr>
    <td colspan="4">
      <%= link_to t(:create), new_stocker_order_path, :class => 'btn btn-primary' %>
	  <%= link_to t(:back), root_path, :class => 'btn'%>
    </td>
  </tr>
  </tbody>
</table>
</div> 