
<p><span class="label label-info"><%=@order.number %></span> <%= @order.store.name %> (<%= l(@order.status,'order_status') %>)
  &nbsp;&nbsp;
  
</p>
<p><%= t(:remark) %>: <%= @order.remark %>
	<br>
	<%= link_to t(:edit), edit_stocker_order_path(@order), :class => 'btn' if @order.status == 0 %>
  <%= link_to(t(:delete), stocker_order_path(@order), :data => { :confirm => t(:are_you_sure_to_delete) }, :method => :delete, :class => 'btn')  if @order.status == 0  %>
  <%= link_to t(:cancel), cancel_stocker_order_path(@order), :data => { :confirm => t(:are_you_sure_to_cancel) }, :class => 'btn' if @order.status == 1 %>
  <%= link_to t(:back), stocker_orders_path, :class => 'btn'%>
</p>

<div style="min-height:100px;">
<%= render 'order_details' %>
</div>
<p>
<%= link_to t(:add_on_hand), new_stocker_order_order_detail_path(@order), :class => 'btn btn-primary'  if @order.status == 0 %>
<%= link_to t(:import_excel), new_stocker_order_order_import_path(@order), :class => 'btn'  if @order.status == 0 %>
<%#= link_to t(:clear_details), clear_stocker_order_path(@order), :class => 'btn'  if @order.status == 0 %>
</p>
<p>
<%= link_to t(:confirm_to_order), confirm_stocker_order_path(@order), :class => 'btn btn-primary'  if @order.status == 0 %>

</p>