<tr>
  <td>
    <div>
      <b><%= link_to cart.product.name, edit_cart_path(cart) %></b>
      &nbsp;&nbsp;
    </div>
    <div>
      <strong><%= cart.quantity %><%= cart.product.measurement.name %></strong>
      *  <%= cart.unit_price %>
      
      <% if !@member.nil? %>
      - <%= cart.score.nil? ? 0 : cart.score %><%= t(:scores) %>
      <% end%>
      
      = <%= cart.quantity * cart.unit_price %> <%=t(:currency)%>
      
      <%= link_to t(:delete), cart , :data => { :confirm => t(:are_you_sure_to_delete) }, :method => :delete, :class => 'btn btn-mini  btn-inverse'   %>
    </div>
      
    
  </td>         
</tr>
