
    <div class="alert alert-success">
      <a class="close" data-dismiss="alert">&#215;</a>
      <%= @member.name %>
      <%= t(:score)%> : <%= @member.score %>
    </div>
    
  <% if @carts.count > 0 %>
  <table class="table table-condensed">
    <thead>
      <tr>
        <th><%= t(:product_name) %></th>
        <th><%= t(:quantity) %></th>                         
      </tr>
    </thead>   
    <tbody>
    <% @carts.each do |cart| %>
      <tr>
        <td><%= link_to cart.product.name, cart %></td>
        <td><%= cart.quantity %> <%= cart.product.measurement %></td>            
      </tr>
    <% end %>
    <tr>
      <td colspan="5">
        <%= link_to t(:create), new_maintain_lookup_path, :class => 'btn' %>
              <%= link_to t(:back), maintain_dashboard_path, :class => 'btn'%>
      </td>
    </tr>
    </tbody>
  </table>
  <%else%>
    <p><%=t(:none_cart) %> <%= link_to t(:select_product), products_path, :class => 'btn' %> </p>
  <%end%>
