<%= simple_form_for @cart , :html => {:class => 'form-horizontal' } do |f| %>

  <%= f.input :product_id, :as => :hidden  %>
  <div class="modal-header">
    <a class="close" data-dismiss="modal">&#215;</a>
    <h3><%= t(:add_to_cart) %> </h3>
  </div>
  <div class="modal-body">
  	<%= f.input :quantity,label: false, :wrapper_html => {class: "input-prepend input-append"} do %>
		  <span class="add-on"><%=t(:quantity)%></span>
		    <%= f.input_field :quantity %>
		  <span class="add-on"><%=@cart.product.price(@cart.store_id)%></span>
		<% end %>
  </div>

  <div class="modal-footer">
    <%= f.submit t(:add_to_cart) , :class => "btn", :input_html => { 'data-dismiss' => "modal"} %>
    <a class="btn" data-dismiss="modal" href="#"><%= t(:back)%></a>
  </div>
<% end %>