
<%= form_tag multi_update_carts_path, :method => :put do %>
<table class="table table-condensed">
  <thead>
    <tr>
      <th><%= t(:product_name) %></th>
      <th><%= t(:quantity) %></th>   
      <th><%= t(:amount) %></th>                  
    </tr>
  </thead>
  <tbody>   
  <% @carts.each do |cart| %>
    <tr>
      <%= fields_for "carts[]", cart do |f| %>
        <td><%= cart.product.name %> </td>
        <td><%= f.number_field :quantity, :class => 'quantity' %> <%= cart.product.measurement %></td> 
        <td><%= f.number_field :amount, :class => 'quantity' %></td>
      <% end %>           
    </tr>
  <% end %>
  </tbody>
  <tr>
    <td colspan="3">
      <%= submit_tag  t(:update), :class => 'btn' %>
      <%= link_to t(:all_products), products_path, :class => 'btn ' %>
    </td>
  </tr>
  <tr>
    <td colspan="3">
      <%= link_to t(:normal_sale), new_sale_path, :class => 'btn btn-warning' %>
      <%= link_to t(:cost_sale), costsale_path, :class => 'btn btn-warning' %>
    </td>
  </tr>
</table>
<%end%>