<%= simple_form_for @cart, :html => {:class => 'form-horizontal' } do |f| %>
  <%= f.error_notification %>
  <%= display_base_errors @cart %>
  <div class="control-group">
    <div class="controls">
      <%= @cart.product.name << ' ' << @cart.price %>
    </div>
  </div>
  <%= f.input :quantity, :label => t(:quantity), :input_html => { :class => ' input-small ' }, :required => true, :autofocus => true %>
  <div class="control-group">
    <div class="controls">
      <%= f.button :submit, t(:submit), :class => 'btn' %>
      &nbsp;&nbsp;&nbsp;
      <%= link_to t(:back), carts_path, :class => 'btn' %>
    </div>
  </div>
<% end %>

