<table class="table table-condensed table-striped">
  <thead>
  <% if @count == 0 %>
  <tr>
    <th colspan="3">
      <%= link_to t(:add_product), products_path, :class => 'btn '  %>
      <%= t(:none_cart)%>
    </th>
  </tr>
  <%else%>
  <tr>
    <th colspan="3">
      <%= link_to t(:add_product), products_path, :class => 'btn ' %>
      <%= link_to t(:select_member), members_path, :class => 'btn btn-warning' if @member.nil?  %>
      <%= link_to t(:submit), new_sale_path(:category => 'M'), :class => 'btn btn-warning' unless @member.nil?  %>
    </th>
  </tr>
  <%end%>
  </thead>  
  <tbody>
  <% @carts.each do |cart| %>
    <%= render cart %>
  <% end %>
  </tbody>
  <thead>
    <tr>
    <th colspan="3">
      <%= t(:sum_amount)%> : <%= t(:all_used_scores) %>
    </th>
    </tr>
    <tr>
      <td colspan="3">
        <% if @member.nil? && @carts.count > 0 %>
          <%= link_to t(:normal_sale), new_sale_path(:category => 'N'), :class => 'btn btn-warning' %>
          <%= link_to t(:cost_sale), new_sale_path(:category => 'C'), :class => 'btn btn-warning' %>
        <%end %>
        <% if !@member.nil? %>
          <%= link_to t(:dismiss), carts_path(:dismiss => '1'), :class => 'btn btn-danger'  %>
          <%= @member.name %>
          <%= t(:score)%> : <%= @member.score %>
        <% end %>
      </td>
    </tr>
  </thead> 
</table>