<table class="table table-condensed table-striped">
  <thead>
  <tr>
    <th colspan="3">
      <%= link_to t(:add_product), stocks_path, :class => 'btn '  %>
      <%= t(:store_amount) %>: <%=@store.balance.to_s + t(:currency) %>
    </th>
  </tr>
  </thead>
  
  <tbody>
    <%#= t(:none_cart) if @carts.count == 0 %>
    <% @carts.each do |cart| %>
      <%= render cart %>
    <% end %>
  </tbody>
  
  <% if @carts.count > 0 %>
  <thead>
    <tr>
      <td colspan="3">
        
        <%= t(:sum_amount)%>: <%=@sum_amount.to_s %> <%=t(:currency)%>
        <div>
          
          <%= link_to t(:retail_sale), retail_sales_path, :class => 'btn ' %>
          &nbsp;&nbsp;
          <%= link_to t(:cost_sale), cost_sales_path, :class => 'btn ' %>
          &nbsp;&nbsp;
          <%= link_to t(:member_sale), new_sale_path, :class => 'btn btn-warning ' %>
          
          
        </div>
      </td>
    </tr>
  </thead> 
  <% end %>
  
</table>