<div class="span8">
    <%=render 'categories/list_with_keyword', :current_category_id => @category_id, :path => stocker_products_path %>
  <% if @products.count > 0 %>
  <table class="table table-condensed">
    <thead>
      <tr>
        <th><%= t(:product_name) %></th>
        <th><%=t(:default_price) %> </th>
        <th></th>   
      </tr>
    </thead>   
    <tbody>
    <% @products.each do |product| %>
	  <%= render product %>
    <% end %>
    </tbody>
	<tr>
	  <td colspan="3">
			 <%= will_paginate @products %>
	  </td>
	</tr>
  </table>
  <%end%>
  <%= link_to t(:add), new_stocker_product_path, :class => 'btn' %>
       <%= link_to t(:back), stocker_dashboard_path, :class => 'btn' %>
       <%= link_to t(:import_excel), new_stocker_product_import_path, :class => 'btn' %>
</div> 