<h3><%=t(:import_excel)%></h3>

<%= form_for @product, :url => import_stocker_products_path do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(@product.errors.count, "error") %> <%=t(:prohibited_from_completing)%> :</h4>
      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.file_field :file, :class => 'btn' %>
  </div>
  <div class="buttons"><%= f.submit  t(:import) , :class => 'btn btn-warning'%></div>
<% end %>