<%if @store_users.count > 0 %>
<table class="table table-condensed">
	  <thead>
      <tr>
        <th><%= t(:store) %></th>
        <th><%= t(:role) %></th>
                                             
      </tr>
  </thead>   
  <tbody>
  <% @store_users.each do |store_user| %>
    <tr>
        <td><%= store_user.store.name %></td>
        <td><%= l(store_user.role,'role') %></td>                              
    </tr>
  <% end %>
  </tbody>
</table>
<%end %>
  <%= link_to '...' + t(:add) ,new_maintain_store_user_path(:user_id => @user.id) %>
