<!--h3><%= t(:users_maintain) %></h3-->
<div class="span8">
<table class="table table-condensed">
	  <thead>
      <tr>
          <th><%= t(:name) %></th>
          <th><%= t(:role) %></th>
          <th></th>
          <th></th>                                      
      </tr>
  </thead>   
  <tbody>
  <% @users.each do |user| %>
    <tr>
        <td><%= link_to user.name, [:maintain, user] %></td>
        <td><%= t(user.roles.first.name) unless user.roles.first.nil? %></td>
        <td>
        </td>
        <td></td>                                       
    </tr>
  <% end %>
  </tbody>
</table>
</div>