<!--h3><%= t(:users_maintain) %></h3-->
<div class="span8">
<table class="table table-condensed">
	  <thead>
      <tr>
          <th><%= t(:name) %></th>
          <th><%= t(:role) %></th>
          <th></th>
          <th></th>                                      
      </tr>
  </thead>   
  <tbody>
  <% @users.each do |user| %>
    <tr>
        <td><%= link_to user.name, [:maintain, user] %></td>
        <td><%= t(user.roles.first.name) unless user.roles.first.nil? %></td>
        <td>
        </td>
        <td><%= link_to(t(:delete), maintain_user_path(user), :data => { :confirm => t(:are_you_sure_to_delete) }, :method => :delete, :class => 'btn btn-mini') unless user == current_user %></td>                                       
    </tr>
  <% end %>
  </tbody>
</table>
</div>