

		<div class="input-append">
			<select name="date_period" id="date_period" class="span1">
				<%= options_for_select(@date_periods, @sale_report.date_period) %>
			</select>
			<select name="store_id" id="store_id" class="span1">
				<%= options_for_select(@stores, @sale_report.store_id) %>
			</select>
			<select name="category" id="category" class="span1">
				<%= options_for_select(@categories, @sale_report.category) %>
			</select>
			<input type="text" name="product_name" id="product_name" class="span2" placeholder="<%=t(:product_name)%>" value="<%=@sale_report.product_name%>">
			<button type="submit" class="btn" ><%=t(:search)%></button>
		</div>
