<div class="span6">
  
	<form class="form-search" action="<%=expense_amount_by_store_report_maintain_reports_path%>" method="get" >
		<%= render 'report_search', :seach_filters => @search_filters %>
	</form>
	
  <% if @expenses.count > 0 %>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th><%= t(:store_name) %></th>
        <th><%= t(:amount) %></th>
      </tr>
    </thead>   
    <tbody>
    <% @expenses.each do |e| %>
	  <tr>
			<td><%= e.store_name %></td>   
			<td><%= e.amount %> <%=t(:currency)%></td>
		</tr>
		<% end %>
    </tbody>
  </table>
  <%end%>
</div> 