<ol>
  <li><%=t(:sales_reports)%>
    <ul>
      <li><%= link_to t(:sale_details_report), sale_details_report_maintain_reports_path, :class => '' %></li>
      <li><%= link_to t(:sale_products_report), sale_products_report_maintain_reports_path, :class => '' %></li>
      <li><%= link_to t(:sale_amount_by_store_report), sale_amount_by_store_report_maintain_reports_path, :class => '' %></li>
      <li><%= link_to t(:sale_amount_by_user_report), sale_amount_by_user_report_maintain_reports_path, :class => '' %></li>
    </ul>
  </li>
 <!-- <li><%=t(:expenses_reports)%>
    <ul>
      <li><%= link_to t(:stores_maintain), maintain_stores_path, :class => '' %></li>
      <li><%= link_to t(:stores_maintain), maintain_stores_path, :class => '' %></li>
      <li><%= link_to t(:stores_maintain), maintain_stores_path, :class => '' %></li>
    </ul>
  </li>-->
</ol>

