<div class="span12">
  
	<form class="form-search" action="<%=only_account_details_report_maintain_reports_path%>" method="get" >
		<%= render 'report_search', :search => @search %>
	</form>
	
  <% if @sales.count > 0 
    sum_amount = 0
    %>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th><%= t(:store_name) %></th>
        <!-- <th><%#= t(:sale_category) %></th> -->
        <th><%= t(:amount) %></th>
        <th><%= t(:remark)%></th>
        <th><%= t(:date) %></th>
        <th><%= t(:user_name) %></th>
      </tr>
    </thead>   
    <tbody>
    <% @sales.each do |s| 
      sum_amount += s.actual_amount %>
	  <tr>
			<td><%= s.store_name%></td>
			<!-- <td><%#= s.category_name %></td>   -->
			<td><%= s.actual_amount %><%=t(:currency)%></td>  
      <td><%= s.remark %></td>   
			<td><%= s.created_at.to_s(:date_time) %></td> 
			<td><%= s.user_name %></td> 
			
			
		</tr>
		<% end %>
    <tr>
      <td colspan="1"><%=t(:sum_amount)%></td>
      <td><%=sum_amount.round(2)%><%=t(:currency)%></td>
      <td colspan="2"></td>
    </tr>
    </tbody>
  </table>
  <%end%>
</div> 