<div class="span6">
  
	<form class="form-search" action="<%=sale_products_report_maintain_reports_path%>" method="get" >
		<%= render 'report_search', :seach_filters => @search_filters %>
	</form>
	
  <% if @sales.count > 0 %>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th><%= t(:product_name) %></th>
        <th><%= t(:quantity) %></th>
      </tr>
    </thead>   
    <tbody>
    <% @sales.each do |s| %>
	  <tr>
			<td><%= s.product_name %></td>   
			<td><%= s.quantity %> <%=s.measurement%></td>
		</tr>
		<% end %>
    </tbody>
  </table>
  <%end%>
</div> 