<div class="span12">
  
	<form class="form-search" action="<%=sale_discount_report_maintain_reports_path%>" method="get" >
		<%= render 'report_search', :seach_filters => @search_filters %>
	</form>
	
  <% if @sales.count > 0 %>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th><%= t(:id) %></th>
        <th><%= t(:store_name) %></th>
        <th><%= t(:sale_category) %></th>
        <th><%= t(:actual_amount) %></th>
        <th><%= t(:set_amount) %></th>
        <th><%= t(:use_score) %></th>
        <th><%= t(:yield_score) %></th>
        <th><%= t(:discount) %></th>
        <th><%= t(:member_name) %></th>
        <th><%= t(:member_level) %></th>
        <th><%= t(:date) %></th>
        <th><%= t(:user_name) %></th>
				
      </tr>
    </thead>   
    <tbody>
    <% @sales.each do |s| %>
	  <tr>
			<td><%= link_to '#'+ s.id.to_s, maintain_sale_path(s.id)%></td>
			<td><%= s.store_name%></td>
			<td><%= s.category_name %></td>  
			<td><%= s.actual_amount %></td>   
			<td><%= s.amount %></td>  
			<td><%= s.used_score %></td>  
			<td><%= s.score %></td>
			<td><%= (s.discount.to_f * 100).round(2) %> %</td>
			<td><%= s.member_name  %></td>
			<td><%= l(s.member_level,'member') if s.member_level %></td>
			<td><%= s.created_at.to_s(:date_time) %></td> 
			<td><%= s.user_name %></td> 
			
			
		</tr>
		<% end %>
    </tbody>
  </table>
  <%end%>
</div> 