
<p><%= t(:store) %>: <%= @order.store.name %></p>
<p><%= t(:status) %>: <%= l(@order.status,'order_status') %></p>
<p><%= t(:operator) %>: <%= @order.user.name %></p>
<p><%= t(:remark) %>: <%= @order.remark %></p>
<%= link_to t(:back), maintain_orders_path, :class => 'btn'%>

<%= render 'order_details' %>

