<div class="span8">
<h3><%=t(:setting_for) + ' ' + t(params[:category]) %></h3>
<table class="table table-condensed">
	  <thead>
      <tr>
          <th><%= t(:code) %></th>
          <th><%= t(:description) %></th>
          <th></th>                                      
      </tr>
  </thead>   
  <tbody>
  <% @lookups.each do |lookup| %>
    <tr>
        <td><%= lookup.code %></td>
        <td><%= lookup.description  %></td>
        <td>
          <%=link_to t(:edit), edit_maintain_lookup_path(params[:category], lookup), :class => 'btn' %>
          <%= link_to(t(:delete), maintain_lookup_path(params[:category], lookup),  :confirm => t(:please_do_not_delete_settings_while_using_or_will_error), :method => :delete, :class => 'btn')  %>

        </td>                                       
    </tr>
  <% end %>
  <tr>
    <td colspan="3">
      <%= link_to t(:create), new_maintain_lookup_path(params[:category]), :class => 'btn' %>
			<%= link_to t(:back), maintain_settings_path, :class => 'btn'%>
    </td>
  </tr>
  </tbody>
</table>
</div> 