<div class="span8">
	<%=form_for [:maintain,@order,@order_detail] do |f| %>
	<table class="table table-condensed">
			<thead>
				<tr>
						<th><%= t(:product) %></th>
						<th><%= t(:quantity_to_order) %></th>
						<th></th>                                      
				</tr>
		</thead>   
		<tbody>
			<% @products.each do |p| %>
			<tr>
					<td><%= p.name %></td>
					<td><%= text_field_tag "product_id[#{p.id}]", 0 %>
						<%#= OrderDetail.get_quantity(@order.id, p.id) %>
                        <%= p.measurement %>
					</td>          
				</tr>
				 
			<% end %>
		<tr>
			<td colspan="3">
					<%= link_to t(:view_order), [:maintain, @order], :class => 'btn btn-primary' %>
					&nbsp;&nbsp;&nbsp;&nbsp;
					<%= f.submit  t(:add), :class => 'btn' %>
			</td>
		</tr>
		</tbody>
	</table>
	<%end%>
</div> 