<div class="span8">
<table class="table table-condensed">
	  <thead>
      <tr>
          <th><%= t(:transfer_id) %></th>
          <th><%= t(:from_store) %></th>
          <th><%= t(:to_store) %></th>   
          <th><%= t(:status) %></th>                      
      </tr>
  </thead>   
  <tbody>
  <% @transfers.each do |transfer| %>
    <tr>
        <td><%= link_to '#' + transfer.id.to_s, transfer %></td>
        <td><%= transfer.from_store.name %></td>
        <td><%= transfer.to_store.name %></td>     
        <td><%= l(transfer.status, 'transfer_status') %></td>                    
    </tr>
  <% end %>
  
  <tr>
    <td colspan="5">
	  <%= will_paginate @transfers %>
    </td>
  </tr>
  <tr>
    <td colspan="5">
      <%= link_to t(:create), new_transfer_path, :class => 'btn' %>
	  <%= link_to t(:back), root_path, :class => 'btn'%>
    </td>
  </tr>
  </tbody>
</table>
</div> 