<div class="span8">
<table class="table table-condensed">
	  <thead>
      <tr>
          <th><%= t(:name) %></th>
          <th><%= t(:member_level) %></th>
          <th><%= t(:score) %></th>                                     
      </tr>
  </thead>   
  <tbody>
  <% @members.each do |member| %>
    <tr>
        <td><%= link_to member.name, [:maintain, member] %></td>
        <td><%= l(member.level,'member_level') %></td>
        <td><%= member.score%></td>                                      
    </tr>
  <% end %>
  <tr>
    <td colspan="3">
			<%= will_paginate @members%>
    </td>
  </tr>
  <tr>
    <td colspan="3">
			<%= link_to t(:import_excel), new_maintain_member_import_path, :class => 'btn' %>
			<%= link_to t(:back), maintain_dashboard_path, :class => 'btn'%>
    </td>
  </tr>
  </tbody>
</table>
</div> 