<div class="span8">
<table class="table table-condensed">
	  <thead>
      <tr>
          <th><%= t(:name) %></th>
          <th><%= t(:member_level) %></th>
          <th><%= t(:score) %></th>
          <th></th>
          <th></th>                                      
      </tr>
  </thead>   
  <tbody>
  <% @members.each do |member| %>
    <tr>
        <td><%= link_to member.name, [:maintain, member] %></td>
        <td><%= member.level %></td>
        <td><%= member.score%></td>
        <td>
        </td>
        <td></td>                                       
    </tr>
  <% end %>
  <tr>
    <td colspan="5">
			<%= link_to t(:back), maintain_dashboard_path, :class => 'btn'%>
    </td>
  </tr>
  </tbody>
</table>
</div> 