<%= simple_form_for [:maintain, @measurement], :html => {:class => 'form-horizontal' } do |f| %>
  <%= f.error_notification %>
  <%= display_base_errors @measurement %>
  <%= f.input :name, :label => t(:name), :required => true, :autofocus => true  %> 
  <%= f.input :unit_count, :label => t(:unit_count), :required => true %>
  <%= f.input :measurement, :label => t(:measurement), collection: @measurement_settings , label_method: :description, value_method: :code , prompt: t(:select_measurement), :required => true %>
  <div class="control-group">
    <div class="controls">
      <%= f.button :submit, t(:submit), :class => 'btn' %>
      <%= link_to t(:back), maintain_measurements_path, :class => 'btn' %>
    </div>
  </div>
<% end %>

