<%= simple_form_for [:maintain, @measurement], :html => {:class => 'form-horizontal' } do |f| %>
  <%= f.error_notification %>
  <%= display_base_errors @measurement %>
  <%= f.input :name, :label => t(:name), :autofocus => true %> 
  <%= f.input :measurement, :label => t(:measurement_category), :collection => @lookups, :label_method => :description, :value_method => :code, :required => true, :prompt => t(:choose_measurement_category) %>

  <%= f.input :unit_count, :label => t(:unit_count), :required => true, :class => "numeric float" %>
  <div class="control-group">
    <div class="controls">
      <%= f.button :submit, t(:submit), :class => 'btn' %>
      <%= link_to t(:back), :back, :class => 'btn' %>
    </div>
  </div>
<% end %>

