


<!-- <div class="left">


<%

  current_category = current_category_id == 0 ? nil : Category.find(current_category_id)

  sub_categories = Category.where(:parent_id => current_category_id)
  sub_categories = Category.where(:parent_id => current_category.parent_id) if sub_categories.count == 0

  up_level_id = 0 if current_category_id == 0
  up_level_id = current_category.parent_id if current_category_id > 0 && sub_categories.count > 0
  up_level_id = current_category.parent.parent_id if current_category_id > 0 && sub_categories.count == 0

%>
<%if current_category %>
  <a class="button btn-danger" href="<%= path + "?category_id=" + up_level_id.to_s %>" ><i class="icon-chevron-up"></i></a> 
<%end%>
<%sub_categories.each do |category|%>
  <%if category.subcategories.count > 0 %>
  <div class="btn-group">
    <a class="btn" href="<%= path + "?category_id=" + category.id.to_s %>" >
      <%= category.name  %>
    </a>
    <button class="button dropdown-toggle" data-toggle="dropdown">
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <% category.subcategories.each do |sub| %>
        <li>
          <a href="#" onclick="submit_parameter_with_form_id('search_and_filter','category_id','<%=sub.id%>');">
            <span <%="class=label" if current_category && current_category.id == sub.id %> >
            <%= sub.name %>
            </span>
          </a>
        </li>
        <%end%>
    </ul>
  </div>
  <%else%>
    <div class="btn-group">
      <a class="button  <%= "btn-info" if current_category && category.id== current_category.id %>" href="<%= path + "?category_id=" + category.id.to_s %>" >
        <%= category.name  %>
      </a>
    </div>
  <%end%>
<%end%>



  </div>
  <div class="left"> 
    <form class="form-search right" method='get' id="search_and_filter">    
      <input type="hidden" name="category_id" value="<%=params[:category_id]%>" />
       <div class="input-append">
        <input type="text" class="search-width search-query" name='keywords' value="<%= params[:keywords] %>">
        <button type="submit" class="btn"><%=t(:search)%></button>
      </div>
    </form>
  </div> -->


