<!--h3><%= t(:users_maintain) %></h3-->
<div class="span8">
<table class="table table-condensed">
	  <thead>
      <tr>
          <th><%= t(:name) %></th>
          <th><%= t(:role) %></th>
          <th></th>                               
      </tr>
  </thead>   
  <tbody>
  <% @users.each do |user| %>
    <tr>
        <td><%= link_to user.name, [:maintain, user] %></td>
        <td><%= l(user.roles.first.name,"role") unless user.roles.first.nil? %></td>
        <td></td>                                       
    </tr>
  <% end %>
  <tr>
		<td colspan="3"><%= will_paginate @users %></td>
	</tr>
  <tr>
		<td colspan="3">
      <%= link_to t(:new), new_maintain_user_path, :class => 'btn' %>
    </td>
	</tr>
  </tbody>
</table>
</div>