<!--h3><%= t(:account_info) %></h3-->
<p><span class="label label-info"><%= @expense.number %></span><%= @expense.amount %> <%= t(:currency) %></p>
<p>[<%= @expense.store.name %>]  
  <%= t(:status) %>: <%= l(@expense.status.to_s, 'expense_status') %>
</p>
<p>

</p>
<p><%= t(:expense_content) %>: <%= @expense.remark %>
</p>
<p><%= t(:date) %>: <%= @expense.created_at.to_s(:date_time) %>
</p>

<%= link_to t(:cancel), cancel_expense_path(@expense), :class => 'btn' if @expense.is_on_duty? && @expense.status == 1 %>
<%= link_to t(:back), expenses_path, :class => 'btn'%>