<div style="min-height:70px;">
  <%if @expenses.count > 0 
    %>
  <table class="table table-striped  "> 
    <tbody>
    <% 
      sum_amount = 0
      @expenses.each do |t| 
        sum_amount += t.amount
      %>
      <tr>
          <td><%= link_to t.number, "#", :class => 'badge badge-warning' %></td>
          <td align="right"><%= t.amount.round(2).to_s %></td>
          <td align="right"><%= t.created_at.to_s(:date_time)  %></td>       
          <td align="right"><%= t.user.name  %></td>    
                 
      </tr>
    <% end %>
      <tr>
        <td><%=t(:sum_amount)%></td>
        <td><%=sum_amount.round(2) %> <%= t(:currency)%></td>
        <td></td>
      </tr>
    </tbody>
  </table>
  <%end%>
</div>
