
<p><span class="label label-info"><%=@inventory.number %></span> <%= @inventory.store.name %> (<%= l(@inventory.status,'inventory_status') %>)
  &nbsp;&nbsp;
  <%= link_to(t(:delete), stocker_inventory_path(@inventory), :data => { :confirm => t(:are_you_sure_to_delete) }, :method => :delete, :class => 'badge badge-inverse')  if @inventory.status == 0  %>
  <%= link_to t(:cancel), cancel_stocker_inventory_path(@inventory), :data => { :confirm => t(:are_you_sure_to_cancel) }, :class => 'badge badge-inverse' if @inventory.status == 1 %>
  <%= link_to t(:back), stocker_inventories_path, :class => 'btn'%>
  
</p>
<p><%= t(:remark) %>: <%= @inventory.remark %>
<%= link_to t(:edit), edit_stocker_inventory_path(@inventory), :class => 'badge badge-info' if @inventory.status == 0 %>
	<br>
</p>
<p>
	<%=t(:last_inventory)%>: <%=@inventory.last_inventory.nil? ? " " : @inventory.last_inventory.created_at.to_s(:date_time) %>
	~ <%=@inventory.created_at.to_s(:date_time) %>
</p>



<div class="input-append">
  <a class="btn <%='btn-info' if @addition == 'details'%>" href="<%= stocker_inventory_path(@inventory) + "?addition=details" %>" >
    <%=t(:inventory) %>
  </a>
  
  <a class="btn <%='btn-info' if @addition == 'sales'%> " href="<%= stocker_inventory_path(@inventory) + "?addition=sales" %>" >
    <%=t(:sale) %>
  </a>
  
  <a class="btn <%='btn-info' if @addition == 'expenses'%>" href="<%= stocker_inventory_path(@inventory) + "?addition=expenses" %>" >
    <%=t(:expense) %>
  </a>
</div>

<%= render 'details' if @addition == 'details' %>
<%= render :partial => 'sales' if @addition == 'sales' %>
<%= render :partial => 'expenses' if @addition == 'expenses' %>


