<%if !@histories.nil? %>
<table class="table  table-striped">   
  <tbody>
  <% @histories.each do |history| %>
    <tr>
      <td>[<%= history.adjusted_at.to_s(:short_date) %>] 
          <%= l(history.adjust_category,"adjust_category") %>
          <%= '+' unless history.adjusted_by.nil? ? 0 : history.adjusted_by < 0 %><%= history.adjusted_by %>
          -> <%= history.adjusted_to %>
          <%= history.stock.product.measurement.name %>
          <%= "(" + history.remark + ")" unless history.remark.blank? %>
          </td>                           
    </tr>
  <% end %>
  </tbody>
</table>
<%end%>