<div class="span8">
  <%= render 'category' %>
  <% if @products.count > 0 %>
  <table class="table table-condensed">
    <thead>
      <tr>
        <th><%= t(:product_name) %></th>
        <th><%= t(:unit_price) %></th>                         
      </tr>
    </thead>   
    <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= link_to product.name, product %></td>
        <td><%= product.unit_price %> / <%= product.measurement %></td>            
      </tr>
    <% end %>
    </tbody>
  </table>
  <%end%>
</div> 