<div class="span8">
  <div class="left">
    <%=render 'categories/list_with_dropdown', :current_category_id => @category_id, :path => products_path %>
  </div>
  <% if @products  %>
  <table class="table table-condensed">
    <thead>
      <tr>
        <th><%= t(:product_name) %></th>
        <th><%= t(:unit_price) %></th>
        <th></th>   
      </tr>
    </thead>   
    <tbody>
    <% @products.each do |product| %>
	  <%= render product %>
    <% end %>
    </tbody>
	<tr>
	  <td colspan="3">
		<%= link_to t(:view_carts), carts_path, :class => 'btn btn-primary' %>
	  </td>
	</tr>
  </table>
  <%end%>
</div> 

<!-- Modal -->
<div id="ajax-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>