<!--h3><%= t(:account_info) %></h3-->
<p><%= @product.name %>
  [<%= @product.unit_price %><%=t(:money)%> / <%= @product.measurement %>]
</p>
<p><%= t(:stock_quantity) %>: <%= @stock.nil? ? 0 : @stock.quantity %></p>
<p>
  <%= link_to(t(:member_sale), new_sale_path(:product_id => @product.id), :class => 'btn') %>
  <%= link_to(t(:normal_sale), new_sale_path(:product_id => @product.id), :class => 'btn') %>
</p>
<p>
  <%= link_to(t(:cost_sale), new_sale_path(:product_id => @product.id), :class => 'btn') %>
  <%= link_to t(:back), products_path, :class => 'btn'%>
</p>
<%= render 'histories' %>
