<!--h3><%= t(:account_info) %></h3-->
<p><span class="label label-info"><%= @product.name %></span>
  <%= @product.price(current_user.store_id) %>
</p>
<p><%= t(:stock_quantity) %>: <%= @stock.nil? ? 0 : @stock.quantity %> <%= @product.measurement.name %></p>
<p><%= link_to t(:add_to_cart), new_cart_path(:product_id => @stock.product_id), remote:true, :class => "btn btn-warning" %>
</p>
<%= render 'histories' %>

<!-- Modal -->
<div id="ajax-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>