<!--h3><%= t(:account_info) %></h3-->
<p><span class="label label-info"><%= @product.name %></span>
  <%= @product.price(current_user.store_id) %>
</p>
<p><%= t(:stock_quantity) %>: <%= @stock.nil? ? 0 : @stock.quantity %> <%= @product.measurement.name %></p>
<p>
	<%= form_for @cart , :html => {:class => 'form-inline' } do |f| %>
	  <%= f.hidden_field :product_id  %>
	  <%= f.label t(:quantity)%>:
	  <%= f.text_field :quantity, :class => 'numeric integer required', :type => 'number', :style => "width:70px;" %>
	  <%= f.submit t(:add_to_cart) , :class => "btn" %>
	<% end %>

</p>
<%= render 'histories' %>

