<%= form_for [:maintain, @user, @store_user], :html => {:class => 'form-horizontal' } do |f| %>
  <% if @store_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@store_user.errors.count, "error") %> prohibited this career from being saved:</h2>

      <ul>
      <% @store_userra.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  
  <%= display_base_errors @store_user %>
  <div class="control-group store_user_user_id">
    <label class="control-label" ><%=t(:user)%></label>
    <div class="help-inline"><%=@user.name%></div>
  </div>
  
  <%@user.roles.each do |role| %>
    <div class="control-group">
      <label class="control-label"><%=l(role.name, 'role_category')%>:</label>
      

        
        <% @stores.each do |store| %>
        <label class="checkbox inline">
          <%= check_box_tag "store_user[" + role.name + "][]", store.id, @arr_role_store.include?(role.name + '_' + store.id.to_s) %>
            <%= label_tag store.name %>
        </label>
        <% end %>

        
    </div>
  <%end%>
  
  
  <div class="control-group">
    <div class="controls">
      <%= f.submit  t(:submit), :class => 'btn' %>
      <%= link_to t(:back), [:maintain, @user] , :class => 'btn' %>
    </div>
  </div>
<% end %>

