<%= simple_form_for [:maintain,@store_user], :html => {:class => 'form-horizontal' } do |f| %>
  <%= f.error_notification %>
  <%= display_base_errors @store_user %>
  <%= f.input :store_id, :label => t(:store), :collection => @stores, :label_method => :name, :value_method => :id, :required => true, :prompt => t(:choose_a_store) %>
  
  <%= f.input :user_id, :label => t(:user), :collection => @users, :label_method => :name, :value_method => :id, :required => true, :prompt => t(:choose_a_user) %>
  
  <%= f.input :role, :label => t(:role), :collection => @roles, :label_method => :description, :value_method => :code, :required => true, :prompt => t(:choose_a_role) %>
  
  <div class="control-group">
    <div class="controls">
      <%= f.button :submit, t(:submit), :class => 'btn' %>
      <%= link_to t(:back), maintain_stores_path, :class => 'btn' %>
    </div>
  </div>
<% end %>

