<div class="span8">
<table class="table table-condensed">
	  <thead>
      <tr>
          <th><%= t(:store) %> </th>
          <th><%= t(:user) %></th>
          <th><%= t(:role) %></th>
          <th></th>
      </tr>
  </thead>   
  <tbody>
  <% @store_users.each do |store_user| %>
    <tr>
        <td><%= link_to store_user.store.name, [:maintain, store_user.store]  %></td>
        <td><%= link_to store_user.user.name, [:maintain, store_user.user] %> </td> 
        <td><%= l(store_user.role, 'role_category') %></td>
        <td><%= link_to t(:delete),  [:maintain, store_user], :data => { :confirm => t(:are_you_sure_to_delete) }, :method => :delete, :class => 'btn btn-small' %></td>
    </tr>
  <% end %>
  <tr>
    <td colspan="3">
      <%= will_paginate @store_users %>
    </td>
  </tr>
  <tr>
    <td colspan="5">
	  <%= link_to t(:new), new_maintain_store_user_path, :class => 'btn'%>
	  <%= link_to t(:back), maintain_dashboard_path, :class => 'btn'%>
    </td>
  </tr>
  </tbody>
</table>
</div> 