<div class="span8">
<table class="table table-condensed">
	  <thead>
      <tr>
          <th><%= t(:category) %></th>
          <th><%= t(:member_level) %></th>
          <th><%= t(:discount) %></th>
          <th></th>                                      
      </tr>
  </thead>   
  <tbody>
  <% @discounts.each do |discount| %>
    <tr>
        <td><%= link_to discount.category.name, maintain_category_path(discount.category_id) %></td>
        <td><%= l(discount.member_level, 'member_level') %></td>
        <td>* <%= discount.discount %></td>
        <td><%= link_to t(:show), [:maintain,discount], :class => 'btn btn-small' %>
			
        </td>                                    
    </tr>
  <% end %>
  <tr>
    <td colspan="4">
	  <%= will_paginate @discounts %>
    </td>
  </tr>
  <tr>
    <td colspan="4">
      <%#= link_to t(:create_discount), new_maintain_discount_path(:category_id => @category.nil? ? nil : @category.id), :class => 'btn' %>
	  <%= link_to t(:back), maintain_dashboard_path, :class => 'btn'%>
    </td>
  </tr>
  </tbody>
</table>
</div> 