<%unless @transfer_details.nil? %>
<table class="table  table-striped"> 
  <thead>
    <tr>
        <th><%= t(:product_name) %></th>
        <th><%= t(:quantity) %> / <%= t(:from_stock)%> / <%= t(:to_stock)%></th>
        <th></th>                          
    </tr>
  </thead> 
  <tbody>
  <% @transfer_details.each do |t| 
    from_stock = Stock.fetch(@transfer.from_store_id, t.product_id)
    to_stock = Stock.fetch(@transfer.to_store_id, t.product_id)
    %>
    <tr>
        <td><%= link_to t.product.name, [:maintain, t.product], :class => 'badge badge-warning' %></td>
        <td><%= t.quantity.to_s %>
          / 
          <%= link_to from_stock.quantity, [:maintain, from_stock], :class => 'badge badge-warning' %>
          / 
          <%= link_to to_stock.quantity, [:maintain, to_stock], :class => 'badge badge-warning' %>
          
          <%= t.product.measurement.name %>
        </td>
   
    </tr>
  <% end %>
  </tbody>
</table>
<%end%>