<div class="span8">
<table class="table table-condensed">
	  <thead>
      <tr>
          <th><%= t(:transfer_id) %></th>
          <th><%= t(:from_store) %></th>
          <th><%= t(:to_store) %></th>   
          <th><%= t(:status) %></th>    
          <th><%= t(:created_at) %></th>                      
      </tr>
  </thead>   
  <tbody>
  <% @transfers.each do |transfer| %>
    <tr>
        <td><%= link_to transfer.number, [:maintain, transfer] %></td>
        <td><%= link_to transfer.from_store.name, maintain_store_path(transfer.from_store) %></td>
        <td><%= link_to transfer.to_store.name, maintain_store_path(transfer.to_store) %></td>     
        <td><%= l(transfer.status, 'transfer_status') %></td>           
        <td><%= transfer.created_at.to_date %></td>                      
    </tr>
  <% end %>
  <tr>
    <td colspan="5">
      <%= will_paginate @transfers %>
    </td>
  </tr>
  <tr>
    <td colspan="5">
	  <%= link_to t(:back), maintain_dashboard_path, :class => 'btn'%>
    </td>
  </tr>
  </tbody>
</table>
</div> 