<!--h3><%= t(:account_info) %></h3-->
<p>[<%= @transfer.from_store.name %>] -> [<%= @transfer.to_store.name %>]</p>
<p><%= t(:sum_amount) %>: <%= @transfer.amount_sum %></p>
<p><%= t(:transfer_remark) %>: <%= @transfer.transfer_remark %></p>
<p><%= t(:transferer) %>: <%= @transfer.transferer.name %></p>
<p><%= t(:status) %>: <%= @transfer.status %></p>
<p><%= t(:created_at) %>: <%= @transfer.created_at.to_date %></p>
<%= link_to t(:edit), edit_maintain_transfer_path(@transfer), :class => 'btn'%>
<%= link_to(t(:delete), maintain_transfer_path(@transfer), :data => { :confirm => t(:are_you_sure_to_delete) }, :method => :delete, :class => 'btn')  %>
<%= link_to t(:back), maintain_transfers_path, :class => 'btn'%>