<%if !@sale_details.nil? %>
<table class="table  table-striped">
  <!--<thead>
    <tr>
      <th><%= t(:product_name) %></th>
      <th><%= t(:quantity) %></th>
      <th><%= t(:created_at) %></th>                              
    </tr>
  </thead>-->   
  <tbody>
  <% @sale_details.each do |d| %>
    <tr>
        <td><%= d.product.name %></td>
        <td><%= d.quantity.to_s + d.product.measurement %> </td>
        <td><%= d.amount.to_s + t(:money) %></td>                           
    </tr>
  <% end %>
  </tbody>
</table>
<%end%>