<table class="table table-condensed table-striped">  
  <tbody>
    
    
    <% @carts.each do |cart| %>
    <tr>
      <td>
        <h4><%= cart.product.name %></h4>
        <strong><%= cart.quantity %><%= cart.product.measurement.name %></strong>
        
      </td>         
    </tr>
    <% end %>
    
    <tr>
      <td>
        <%= simple_form_for @sale, :html => {:class => 'form-horizontal' } do |f| %>
        <%= f.error_notification %>
        <%= display_base_errors @sale %>
        <%#= f.input :actual_amount, :label => t(:actual_amount), :autofocus => true , :value => '0'   %>
        <%= f.input :remark, :label => t(:remark), :autofocus => true  %>
        <%= f.hidden_field :category  %>
        <%= f.hidden_field :actual_amount, :value => '0' %>
        
        <div class="control-group">
          <div class="controls">
            
            <%= f.button :submit, t(:create_cost_sheet), :class => 'btn' %>
            <%= link_to t(:back), :back, :class => 'btn' %>
          </div>
        </div>
      <% end %>
      
      </td>         
    </tr>
  </tbody> 
</table>