<div class="span8">
<table class="table table-condensed">
	  <thead>
      <tr>
          <th><%=t(:sale_id)%></th>
          <th><%= t(:actual_amount) %></th>
          <th><%= t(:sale_category) %></th>
          <th><%= t(:status) %></th>                                      
      </tr>
  </thead>   
  <tbody>
  <% @sales.each do |sale| %>
    <tr>
        <td><%= link_to '#'+sale.id.to_s, sale %></td>
        <td><%= sale.actual_amount %></td>
        <td><%= l(sale.category,"sale_category") %></td>
        <td><%= l(sale.status, "sale_status") %></td>                                       
    </tr>
  <% end %>
  <tr>
    <td colspan="4">
      <%= will_paginate @sales %>
    </td>
  </tr>
  <tr>
    <td colspan="4">
      <%= link_to t(:back), root_path, :class => 'btn'%>
      <%= link_to t(:record_a_sale), stocks_path, :class => 'btn btn-warning' %>
    </td>
  </tr>
  </tbody>
</table>
</div> 