<%= simple_form_for @sale, :html => {:class => 'form-horizontal' } do |f| %>
  <%= f.error_notification %>
  <%= display_base_errors @sale %>
  <%= @sale.member.name %> : 
  <%= f.input :store_id, :as => :hidden, :input_html => {:value => current_user.store_id} %>
  <%= f.association :product, :label => t(:product_name), :autofocus => true, :required => true  %>
  <%= f.input :quantity, :label => t(:quantity), :required => true %>
  <%= f.input :amount, :label => t(:amount) , :required => true  %> 
  <%= f.input :score, :label => t(:score) , :required => true  %> 
  <%= f.input :remark, :label => t(:remark) %>
  <%= f.input :category, :as => :hidden, :input_html => {:value => @sale.category} %>
  <%= f.input :member_id, :as => :hidden, :input_html => {:value => @sale.member_id} %>
  <div class="control-group">
    <div class="controls">
      <%= f.button :submit, t(:submit), :class => 'btn' %>
      <%= link_to t(:back), :back, :class => 'btn' %>
    </div>
  </div>
<% end %>

