<table class="table table-condensed table-striped">  
  <tbody>
    <tr>
      <th colspan="3">
        <div>
        <%= link_to @member.nil? ? t(:select_member) : t(:switch_member) , members_path, :class => 'btn'%>
        <%if !@member.nil? %>
          <%= @member.name %>(<%= l(@member.level, 'member_level')%> -  <%= @member.score %><%= t(:scores)%>)
        <%end %>
        </div>
      </th>
    </tr>
    
    <% @carts.each do |cart| %>
    <tr>
      <td>
        <h4><%= cart.product.name %></h4>
        <strong><%= cart.quantity %><%= cart.product.measurement.name %></strong>
        [<strong><%= cart.amount %><%=t(:currency)%></strong>]
      </td>         
    </tr>
    <% end %>
    <tr>
      <td>
        <%=t(:sum_amount)%>: <%=@amount%> <%=t(:currency)%>
      </td>         
    </tr>
    
    <%if !@member.nil? %>
    <tr>
      <td>
      <%= simple_form_for @sale, :html => {:class => 'form-horizontal' } do |f| %>
        
        <%= display_base_errors @sale %>
        <%= f.input :actual_amount, :label => t(:actual_amount), :input_html =>{:class => 'input-small'} , :autofocus => true, :required => true  %>
        
        <%= f.input :score, :label => t(:new_score), :input_html =>{:class => 'input-small'} %>
        
        <%if @member.score > 0 %>
          <%= f.input :used_score, :label => t(:use_score), :input_html =>{:class => 'input-small'} %>
        <%else%>
          <%= f.hidden_field :used_score, :value => 0  %>
        <%end%>
        
        <%= f.input :remark, :label => t(:remark), :input_html =>{:class => 'input-small'} %>
        <%= f.hidden_field :category  %>
        <%= f.hidden_field :member_id  %>
        
        <div class="control-group">
          <div class="controls">
            
            <%= f.button :submit, t(:create_sale_sheet), :class => 'btn' %>
            <%= link_to t(:back), :back, :class => 'btn' %>
          </div>
        </div>
      <% end %>
      </td>         
    </tr>
    <%else%>
      
    <tr><td><%= link_to t(:back), :back, :class => 'btn' %></td></tr>
    <%end %>
  </tbody> 
</table>