<table class="table table-condensed table-striped">  
  <tbody>
    <% @carts.each do |cart| %>
    <tr>
      <td>
        <h4><%= cart.product.name %></h4>
        <strong><%= cart.quantity %><%= cart.product.measurement %></strong>
        [<strong><%= cart.amount %><%=t(:money)%></strong>]
      </td>         
    </tr>
    <% end %>
    <tr>
      <td>
        <% if @count == 0 %>
          <%= link_to t(:add_product), products_path, :class => 'btn '  %>
          <%= t(:none_cart)%>
        <%else %>
          <%= form_for @sale do |f| %>
          <%= f.hidden_field :category  %>
          <%= f.button t(:submit), :type => :submit, :class => 'btn btn-warning' %>
          <%end %>
        <%end%>
      </td>         
    </tr>
  </tbody> 
</table>