<!--h3><%= t(:account_info) %></h3-->
<p>[<%= @sale.store.name %>] : 
	<%= @sale.number %> 
	- <%= l(@sale.status.to_s, 'sale_status') %>
	[<%= @sale.created_at.to_s(:duty_time) %>]
</p>
<p><%= @sale.actual_amount %><%=t(:currency)%>
  <% if @sale.category == 'M' %>
    <%= @member.name unless @member.nil? %>
    <%= "+" + @sale.score.to_s + t(:score) if @sale.score > 0 %>
    <%= "-" + @sale.used_score.to_s + t(:score) if @sale.used_score > 0 %>
  <%end%>
</p>
<p><%= t(:remark) %>: <%= @sale.remark %>
</p>

<%= render 'sale_details' %>
<%= link_to t(:cancel), cancel_sale_path(@sale), :class => 'btn' if @sale.is_on_duty? && @sale.status == 1 %>
<%= link_to t(:back), sales_path, :class => 'btn'%>