<!--h3><%= t(:account_info) %></h3-->
<p><%= t(:sale_id) %>: <%= '#' + @sale.id.to_s %></p>
<p>[<%= @sale.store.name %>] &nbsp; <%= l(@sale.category,"sale_category") %> 
  <%= @sale.actual_amount %>
</p>
<p>
  <% if @sale.category == 'M' %>
    <%= t(:member) %>: <%= @member.name unless @member.nil? %>
  <%end%>
  &nbsp;&nbsp;
  <%= t(:status) %>: <%= l(@sale.status.to_s, 'sale_status') %>
</p>
<p><%= t(:created_at) %>: <%= @sale.created_at.to_s(:date_time) %>
</p>
<p><%= t(:remark) %>: <%= @sale.remark %>
</p>

<%= render 'sale_details' %>
<%= link_to t(:cancel), cancel_sale_path(@sale), :class => 'btn' if @sale.is_on_duty? && @sale.status == 1 %>
<%= link_to t(:back), sales_path, :class => 'btn'%>