<div class="span8">
<table class="table table-condensed">
	  <thead>
      <tr>
          <th><%= t(:key) %></th>
          <th><%= t(:value) %></th>
          <th><%= t(:description) %></th>
          <th></th>
          <th></th>                                      
      </tr>
  </thead>   
  <tbody>
  <% @switchs.each do |switch| %>
    <tr>
        <td><%= switch.key %></td>
        <td><%= switch.value %></td>
        <td><%= link_to switch.description, [:maintain, switch] %></td>
        <td>
        </td>
        <td></td>                                       
    </tr>
  <% end %>
  <tr>
    <td colspan="5">
      <%= link_to t(:create), new_maintain_switch_path, :class => 'btn' %>
			<%= link_to t(:back), maintain_dashboard_path, :class => 'btn'%>
    </td>
  </tr>
  </tbody>
</table>
</div> 