
<ul class="nav">
  <% if user_signed_in? %>
    <% if !current_user.store_id.nil? && current_user.has_role?(:user) %>
      <li><a href="<%=carts_path%>" class="cart_count" >
        <i class="icon-home"></i><%=current_user.store.name %>
        <% if !session[:cart_count].nil? && session[:cart_count].to_i > 0 %>
        <span class="num"><span><%= session[:cart_count] %></span><i></i></span>
        <% end %>
      </a></li>
      
    <% end %>
    
    
    <% if current_user.has_role?(:stocker) %>
      <li><a href="<%=stocker_dashboard_path%>" >
        <i class="icon-cog"></i><%=t(:stocker) %>
      </a></li>
    <% end %>
    
    <% if current_user.has_role?(:manager) %>
      <li><a href="<%=maintain_reports_path%>" >
        <i class="icon-list-alt"></i><%=t(:reports) %>
      </a></li>
      
      <li><a href="<%=maintain_dashboard_path%>" >
        <i class="icon-th-large"></i><%=t(:maintain) %>
      </a></li>
    <% end %>
    
    <% if current_user.has_role?(:admin) %>
      <li><a href="<%=admin_dashboard_path%>" >
        <i class="icon-cog"></i><%=t(:admin) %>
      </a></li>
    <% end %>
    
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="my_account"><i class="icon-user"></i><%=t(:account) %> <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><a href="<%=user_path(current_user)%>"><%=t(:my_account) %></a></li>
        <li><a href="<%=destroy_user_session_path%>" data-method="delete" rel="nofollow"><%=t(:sign_out) %></a></li>
      </ul>
    </li>
    
    <li><a href="<%=user_path(current_user)%>" >
      <i class="icon-user"></i><%=t(:account) %>
    </a></li>
    
    <li><a href="<%=destroy_user_session_path%>" >
      <i class="icon-off"></i><%=t(:sign_out) %>
    </a></li>
  <% end %>
  
</ul>