<%= link_to t(:app_name), root_path, :class => 'brand' %>
<ul class="nav">
  <% if user_signed_in? %>
    <% if !current_user.store_id.nil? && current_user.has_role?(:user) %>
      <li><a href="<%=carts_path%>" class="cart_count" >
        <i class="icon-home"></i><%=current_user.store.name %>
        <% if !session[:cart_count].nil? && session[:cart_count].to_i > 0 %>
        <span class="num"><span><%= session[:cart_count] %></span><i></i></span>
        <% end %>
      </a></li>
      
    <% end %>
    <% if current_user.has_role?(:manager) %>
      <li><a href="<%=maintain_dashboard_path%>" >
        <i class="icon-th-large"></i><%=t(:maintain) %>
      </a></li>
    <% end %>
    
    <% if current_user.has_role?(:admin) %>
      <li><a href="<%=admin_dashboard_path%>" >
        <i class="icon-cog"></i><%=t(:admin) %>
      </a></li>
    <% end %>
    
    <li><a href="<%=destroy_user_session_path%>" data-method="delete" rel="nofollow" >
      <i class="icon-off"></i><%=t(:sign_out) %>
    </a></li>
  <% end %>
  
</ul>