<table class="table table-condensed">
	  <thead>
      <tr>
          <th><%= t(:name) %></th>
          <th><%= t(:phone) %></th>
          <th><%= t(:score) %></th>
          <th></th>                                   
      </tr>
  </thead>   
  <tbody>
  <% @members.each do |member| %>
    <tr>
        <td><%= link_to member.name, viewmember_path(:uuid => member.uuid) %></td>
        <td><%= member.phone %></td>
        <td><%= member.score %></td>
        <td><%= link_to t(:select),  new_sale_path(:member_id => member.id), :class => 'btn' %>
        </td>                                    
    </tr>
  <% end %>
  </tbody>
</table>