<div class="span8">
<form class="form-inline" method="get" action="<%=members_path%>">
  <input type="text" name="name" class="input-small" placeholder="<%=t(:member_name)%>" value="<%=@member.name%>">
  <input type="text" name="phone" class="input-small" placeholder="<%=t(:phone)%>" value="<%=@member.phone%>">
  <button type="submit" class="btn"><%=t(:search)%></button>
  <%= link_to t(:create_member), new_member_path(:name => @member.name, :phone => @member.phone), :class => 'btn btn-warning' %>
</form>
<%= render 'list' unless @members.nil? %>
<%= t(:no_member_found) if @members.nil?%>
</div> 