<!--h3><%= t(:account_info) %></h3-->
<p>
	<span class="label label-info"><%= @member.name %></span>
	<%= @member.phone if @member.phone %>
</p>
<p><%= l(@member.level,'member_level') %> <%= t(:score) %>: <%= @member.score %></p>
<p><%= t(:member_start_date) %>: <%= @member.start_date %></p>
<p><%= t(:address) %>: <%= @member.address %></p>
<p><%= t(:remark) %>: <%= @member.remark %></p>

<p>
  <%= link_to t(:select), new_sale_path(:member_id => @member), :class => 'btn btn-warning' %>
  <%#= link_to t(:edit), edit_member_path(@member), :class => 'btn' if @member.user_id == current_user.id %>
  <%= link_to t(:back), members_path, :class => 'btn'%>
</p>
<%= render 'histories' %>